@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {  font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 48px;
    color:#1a202c;
    line-height: 1.25;
}
h2 {
    font-size: 48px;
    color: #243e63;
    line-height: 1.25;
}
h3 {
    color:#243e63;
    font-size: 25px;
    line-height: 1.25;
}
h4,h5,h6 {
    color: black;
    line-height: 1.25;
}
p {
    font-size: 18px;
    line-height: 1.5
}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    display: inline;
    text-decoration: none
}
section {
    padding: 0 32px;
}
nav {
    display: flex;
    padding-top: 32px;
    animation: fade-up 650ms 400ms backwards;
}
@keyframes fade-up {
    0% {
    opacity: 0;
    transform:translateY(0)
    }
    100% {
      opacity: 1;
      transform:translateY(0.5px) ;
    }
}
button {
    cursor: pointer;
}
img {
    width: 100%;
}
img {
    width: 100%;
}
header {
    position: relative;
    animation: fade-up 650ms 400ms backwards;
}
ul {
    display:flex;
    align-items: center;
    padding-bottom: 2px;
}
li {
    list-style-type: none;
    border-radius: 25px;
}
.container {
    padding: 96px 0;
}
.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.column {
    display: flex;
    flex-direction: column;
}
footer {
    color: white;
    background-color: #6415ff;
    padding: 96px 32px;
}
header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Features .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Quality-Work .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Steps .row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#Values .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#Pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Testimonials .row {
    display: flex;
    flex-direction: row-reverse;
}
#Getting-Started .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_title {
    font-size: 20px;
    color: #6415ff;
    font-weight: 900;
    letter-spacing: 1.5px;
}
/*


Start Line


*/
.small_icon1 {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}  
.small_icon1-mask-purple {
    width: 40px;
    height: 40px;
    animation: animate-profile-pic 1000ms 800ms backwards;
}
@keyframes animate-profile-pic {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}
.small_icon1-purple {
    transform: scale(1);
    aspect-ratio: 1/1;
}
.icon_title1 {
    font-size: 24px;
    font-weight: bolder;
    color:#243e63;
    margin-left: 12px;
    letter-spacing: 0.6px;
    padding-bottom: 2px;
    
}
.nav_list {
    display: flex;
    justify-content: space-between;
    transition: opacity 300ms ease;
}
.nav_list1 {
    color: #243e63;
    margin: 0 24px;
    font-weight: 500;
    padding: 4px 0;
    position: relative;
    text-decoration: none;
    transition: opacity 300ms ease;
}
.nav_list1--purple:hover {
    color: #6415ff;
    transition: all 300ms ease;

}
.nav_list1--purple::after {
    background-color: #6415ff;
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}
.nav_list1--purple:hover::after {
    width:100%;
    left: 0;
}
.login {
    color: #243e63;
    cursor: pointer;
    font-weight: 500;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    transition: opacity 300ms ease;  
}
.nav_link--button {
    background-color: #6415ff;
    border-radius: 25px;
    padding: 12px 35px;
    color: white;
    border: white;
    font-size: 15px;
    font-weight: 500;
    
  }
.nav_link--button--color:hover {
    color: #6415ff;
    background-color: white;  
    transition: all 300ms ease;
}
.sign_up {
    animation: animate-profile-pic 1000ms 800ms backwards;
}
.header_width1 {
    width: 43%;
}
.purple-text {
    color: #6415ff;
}
.treact_pic1 {
    width: 100%;
    max-width: 768px;
    animation: animate-profile-pic 1000ms 800ms backwards;
}
.header_p {
    font-size: 19.5px;
    margin: 32px 0;
    margin-bottom: 28px;
    color: #243e63;
}
.header_email {
    width: 100%;
    max-width: 448px;
    position: relative;
    display: flex;
}
.header_emailbox {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_email--input {
    padding: 25px;
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgba(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
    animation: animate-profile-pic 1000ms 800ms backwards;
}
.header_email--input:hover {
    border-color:rgba(160, 174, 192)
}
.header_email--input:focus, .header_email--input:active {
    outline: transparent solid 2px;
    outline-offset: 2px;
    border-color:rgba(100, 21, 255);
}
.button-test {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms;
    animation: animate-profile-pic 1000ms 800ms backwards;
}
.header_subtitle_p {
    margin-top: 80px;
    font-size: 13px;
    color: #a0aec0;
    font-weight: 700;
}
.Coustumers-img-wrapper {
    opacity: 0.5;
    margin-top: 16px;
    padding-right: 128px;
    animation: animate-profile-pic 1000ms 800ms backwards;
}
input::placeholder {
    color: #a0aec0;
    opacity: 1;
}
/*


Features


*/
.features_h2 {
    font-size: 48px;
    color: #243e63;
    line-height: 1.25;
}
.features_para {
    color: #7c8ba1;
    margin-top: 30px;
    text-align: center;
    max-width: 576px;
    font-weight: 700;
}
.features_display {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.features_showcase {
    display: flex;
    padding: 36px 26px;
}
.features_img {
    width: 50%;
    margin-top: 14px;
    margin-left: 14px;
}
.features_img_para {
    max-width: 276px;
    margin-top: 10px;
    color: rgb(124, 139, 161);
}
.features-mask {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:solid 1px #e5e7eb;
    margin-right: 22px;
    animation: animate-features-pic 1000ms 800ms backwards;
  }
@keyframes animate-features-pic {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}
/*


Quality-Work


*/
.quality_explaination {
    width: 100%;
}
.quality_h2 {
    line-height: 1.5;
    margin: 20px 0;
    font-size: 48px;
}
.quality_para {
    font-size: 18px;
    width: 90%;
    color: #7c8ba1;
    line-height: 1.550;
    font-weight: 500;
}
.quality_button_margin {
    margin-top: 20px;
    margin-left: 0px;
}
.quality_figure {
    border: rgb(229, 231, 235) 1px solid ;
}
/*


Steps


*/
.steps_explaination {
    width: 50%;
    padding-left: 60px;
}
.steps_h2 {
    font-size: 55px;
    margin: 15px 0;
}
.steps_display {
    display: flex;
    padding: 20px 0;
}
.steps_h2sub {
    color:#cbd5e0;
    margin-right: 18px;
    margin-bottom: 10px;
    font-size: 40px;
}
.steps_h3 {
    font-size: 20px;
    font-weight: 500;
    color: #243e63;
    line-height: 1.25;
}
.steps_para {
    margin-top: 10px;
    color: rgb(124, 139, 161);
    font-size: 16px;
}
.steps_figure {
    width: 50%;
}
/*


Values


*/
.values_explaination {
    width: 90%;
}
.values_h2 {
    line-height: 1.1;
    margin: 20px 0;
}
.values_para {
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.550;
    font-weight: 500;
    padding: 20px 0;
}
.values_display {
    display: flex;
}
.values_display_mask {
    display: flex;
    align-items: center;
}
.values_h3 {
    font-size: 20px;
    font-weight: 500;
    color: #243e63;
    line-height: 1.25;
}
.values_main_mask {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:solid 1px #e5e7eb;
    margin-right: 22px;
    animation: animate-features-pic 1000ms 800ms backwards;
}
.values_mask1 {
    background-color: #9ae6b4;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
}
.values_mask2 {
    background-color: #feb2b2;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
}
.values_display_para {
    font-size: 16px;
    margin-top: 20px;
    width: 90%;
    color: #7c8ba1;
    line-height: 1.550;
    font-weight: 400;
}
.values_img {
    width: 50%;
}
/*


Pricing


*/
.pricing_h2 {
    font-size: 55px;
    margin: 15px 0;
}
.pricing_para {
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.550;
    font-weight: 500;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 0;
}
.plans {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.plan_pricing {
    width: 100%;
    text-align: center;
    margin:64px 34px 0 0;
    border-radius: 8px;
    overflow: hidden;
    background-color:black;
}
.pricing_stripes {
    width: 100%;
    height: 8px;
}
.pricing_margin {
    line-height: 1.1;
    margin: 20px 0;
}
.pricing_titles {
    font-size: 30px;
    color: rgb(229, 231, 235);
    line-height: 1.5;
    font-weight: 700;
}
.pricing_number {
    font-size: 40px;
    color:rgb(229, 231, 235);
    line-height: 1.5;
    font-weight: bolder;
}
.pricing_para2 {
    font-size: 20px;
    color:#6415ff;
    line-height: 1.550;
    font-weight: 500;
}
.pricing_buttons {
    border-radius: 25px;
    padding: 12px 35px;
}
.pricing_color1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: rgb(229, 231, 235);
}
.pricing_color2 {
    background: linear-gradient(115deg, blue 0%, rgb(229, 231, 235) 100%);
    color:rgb(229, 231, 235);
}
.pricing_color3 {
    background: linear-gradient(115deg,rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: rgb(229, 231, 235);
}
.pricing_box1 {
    padding: 30px 0;

}
.pricing_box2 {
    padding: 30px 0px;
    border: solid 2px #6415ff;
    border-left: none;
    border-right: none;
}
.pricing_box3 {
    padding: 15px;
}
/*


Testimonials


*/
.testimonials_explaination {
    width: 50%;
    padding-left: 60px;
}
.testimonials_h2 {
    line-height: 1.1;
    margin: 20px 0;
}
.testimonials_para {
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.750;
    font-weight: 500;
    padding-top: 10px
}
.testimonials_margin {
    margin-top: 40px;
}
.fa-star {
    color: rgba(246, 173, 85);
    margin-top: 4px;
}
.testimonials_h3 {
    line-height: 1.750;
    padding-top: 20px;
    font: 20px;
}
.testimonials_margin_para {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #4a5568;
}
.testimonials_mask {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.testimonial_mask_title {
    padding-left:22px;
}
.testimonials_mask_para {
    font-size: 18px;
    color: #7c8ba1;
    line-height: 1.550;
}
.testimonials_bottom_mask {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testimonials_button_right {
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding-bottom: 3PX;
    border-radius: 50%;
    border: white;
    color: #6415ff;
    background-color: #edf2f7;
}
.testimonials_button_left {
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    padding-bottom: 3PX;
    border-radius: 50%;
    border: white;
    color: #6415ff;
    background-color: #edf2f7;
}
.testimonials_img{
    width: 50%;
}
/*


Getting-Started


*/
.purple {
    width: 100%;
    padding: 96px 0;
    background-color: #6415ff;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
}
.start_row {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 32px;
    display: flex
;
    justify-content: center;
    align-items: center;
}
.white {
    color: white;
    font-size: 33px;
    width: 30%;
}
.getting_started_buttons {
    display: flex;
    justify-content: space-between;
}
.getting_started_right {
    font-size: 20px;
    font-weight: 500;
    background: #f56565;
    border-radius: 50px;
    padding: 24px 35px;
    margin-right: 10px;
    color: white;
    border: none;
}
.getting_started_right:hover {
    color:#f56565;
    background: white;  
    transition: all 300ms ease;
}
.getting_started_left {
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    padding: 24px 35px;
    margin-left: 10px;
    color: white;
    background-color: #6415ff;
    border:  rgb(160, 174, 192) solid 1px;;
}
/*


Footer


*/
.footer_contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.footer_contact_row1,
.footer_contact_row2,
.footer_contact_row3,
.footer_contact_row4,
.footer_contact_row5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer_contact_title {
    margin: 17px 0;
    margin-left: 7px;
    font-weight: 600;
    font-size: 17px;
}
.footer_contact_para {
    margin: 7px 0;
    margin-left: 7px;
    font-size: 15px;
}
.footer_divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background-color: rgb(116, 44, 255);
}
.footer_copyright_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.footer_treact {
    display: flex;
    align-items: center;
}
.footer_img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.footer_img_para {
    font-weight: 700;
    font-size: 23px;
}
.footer_copyright_para {
    display: flex;
    align-items: center;
}
.copyright_color {
    color: #cbd5e0;
}
.footer_contact_socials {
    display: flex;
    justify-content: space-between;
}
fa {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
}
.fa-brands,
.fab {
  font-family: 'Font Awesome 6 Brands'; }
.fa-facebook-f {
    --fa: "\f39e";
    color: white;
    background-color: #0866ff;
    font-size:x-large;}
.fa-twitter {
    --fa: "\f099"; 
    color: #1c96e8;
    background-color: white;
    font-size: x-large;}
.fa-youtube {
    --fa: "\f167";
    color: #f70000;
    background-color: white;
    font-size: x-large;}
.media-mask {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    border:solid 1px #e5e7eb;
    margin: 0 3px;
}
.button-test2 {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms;
    margin-top: 20px;
}
@media(max-width: 1280px) {
    h1 {
        font-size: 36px;
    }
    .header_p {
        font-size: 16px;
    }
    .treact_pic1 {
        display: flex;
        justify-content: flex-end;
    }
    .header_img {
        max-width: 512px;
    }
    header .row {
        align-items: flex-end;
    }
    .Coustumers-img-wrapper {
        padding-right: 64px;
    }
    .button-test {
        max-width: none;
    }
    .testimonial_img {
        width: 41.6667%;
    }
    .testimonials_explaination {
        width: calc(100% - 41.6667%);
    }
}

@media (max-width: 1024px) {
    ul {
        display:none;
        }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    .header_width1,
    .treact_pic1 {
        width: 100%;
        max-width: 512px;
        margin: 0 auto;
    }
    .header_width1 {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 30px;
    }
    .header_p {
        margin: 20px 0;
    }
    .Coustumers-img-wrapper {
        padding-right: 0px;
    }
    .header_subtitle_p,
    .treact_pic1 {
        margin-top: 48px;
    }
    .features {
        max-width: 768px;
    }
    .features {
        width: calc(50%);
    }
    .features_row {
        padding: 32px 8px;
        margin: 0 16px;
    }
    .features_para {
        max-width: none;
        font-size: 16px;
    }
    .features_h2,
    .quality_h2,
    .steps_h2,
    .values_h2,
    .pricing_h2,
    .testimonial_h2 {
        font-size: 36px;
    }
    .quality_explaination {
        margin-right: 0px;
        padding-right: 48px;
    }
    .quality_para, 
    .values_para
    .pricing_para {
        font-size: 16px;
    }
    .values_display {
        flex-direction: column;
        max-width: 320px;
    }
    .values_Affordable,
    .values_Professionalism {
        margin-top: 40px; 
    }
    .plans {
        flex-direction: column;
    }
    .plan {
        margin-right: 0px;
    }
    .features_h2,
    .pricing_h2 
    {
        font-size: 48px;
    }
    .testimonials_explaination {
        padding-left: 48px;
    }
    .start_row {
        flex-direction: column;
    }
    .white {
        text-align: center;
        width: 100%;
        max-width: 512px;
    }
    .getting_started_buttons {
        width: auto;
        margin-top: 24px;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    .features_para,
    .quality_para,
    .values_para,
    .pricing_para{
        font-size: 14px;
    }
    #Quality-Work .row,
    #Values .row {
        flex-direction: column-reverse;
    }
    .quality_explaination,
    .steps_explaination,
    .values_explaination,
    .testimonials_explaination {
        padding: 0;
        margin-top: 64px;
        text-align: center;
    }
    .quality_explaination,
    .quality_figure,
    .steps_explaination,
    .steps_figure,
    .values_explaination,
    .values_img,
    .testimonials_explaination,
    .testimonials_img {
        width: 100%;
        max-width: 448px;
    }
    #Steps .row {
        flex-direction: column-reverse;
        align-items: center;
    }
    #Testimonials .row {
        flex-direction: column-reverse;
        align-items: center;
    }
    .steps_display {
        flex-direction: column;
        align-items: center;
    }
    .steps_explaination {
        margin-left: 0;
    }
    .values_display {
        margin: 0 auto;
    }
    .values_Affordable,
    .values_Professionalism {
        display: flex;
        flex-direction: column;
        align-items: center;
}
    #Pricing .row {
        margin-top: 40px;
    }
    .testimonials_explaination {
        padding-left: 0;
    }
    .footer_contact {
        justify-content: flex-start;
    }
    .footer_contact_row1,
    .footer_contact_row2,
    .footer_contact_row3,
    .footer_contact_row4,
    .footer_contact_row5 {
        width: calc(100% / 3);
    }
    .footer_copyright_bottom {
        flex-direction: column;
        align-items: center;
    }
    .footer_copyright_para, .footer_contact_socials {
        margin-top: 32px;
    }
    .footer_contact_socials {
        margin-left: 0px;
    }
    .footer_contact_social--link {
        margin-left: 0px;
    }
}

@media(max-width: 640px) {
    .quality_h2,
    .values_h2{
        line-height: 1.25;
    }
    .container {
        padding: 80px 0;
    }
    .small_icon1 {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    .header_emailbox {
        flex-direction: column;
        height: auto;
    }
    .header_email--input {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }
    .button-test{
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        line-height: 1.5;
    }
    .header_subtitle_p {
        font-size: 14px;
        letter-spacing: 0.05em;
    }
    .features_h2,
    .quality_h2,
    .steps_h2,
    .values_h2,
    .pricing_h2,
    .testimonials_h2 {
        font-size: 30px;
    }
    .features_h2,
    .pricing_h2 {
        font-size: 36px;
        text-align: center;
    }
    .features_row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .features_title {
        letter-spacing: 0.025em;
        line-height: 1;
    }
    .features_text {
        margin-left: 0px;
        margin-top: 16px;
    }
    .features_para {
        margin-top: 4px;
        line-height: 2;
    }
    .features_showcase {
        flex-direction: column;
        align-items: center;
    }
    .features_showcase_explaination {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features_img_para {
        text-align: center;
    }
    .steps_h2 {
        margin: 16px 0 0 0;
    }
    .steps_h2sub {
        margin-right: 0;
    }
    .button-test {
        line-height: 1.5;
    }
    .plan_price {
        font-size: 36px;
    }
    .plan_bottom {
        padding: 32px 48px;
    }
    .testimonials_para {
        margin-bottom: 32px;
    }
    .testimonials_bottom_mask {
        flex-direction: column;
        align-items: center;
        padding-top: 4px;
    }
    .testimonials_mask {
        height: 64px;
        width: 64px;
    }
    .testimonials_buttons {
        margin-top: 32px;
    }
    .testimonials_button {
        margin-top: 32px   
    }
    .purple {
        padding: 80px 0;
        border-radius: 0%;
    }
    .white {
        font-size: 24px;
    }
    .getting_started_buttons {
        flex-direction: column;
        margin-top: 20px;
    }
    .getting_started_right,
    .getting_started_left {
        padding: 12px 24px;
        font-size: 14px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
    }
    main {
        margin-bottom: 80px;
    }
    .footer_contact {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_contact_row1,
    .footer_contact_row2,
    .footer_contact_row3,
    .footer_contact_row4,
    .footer_contact_row5 {
        width: auto;
        padding: 0 16px;
        text-align: center;
        align-items: center;
    }
    .footer_copyright_para {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
    }
    .footer_img {
        width: 32px;
        height: 32px;
    }
    .footer_img_para {
        font-size: 20px;
        margin-left: 8px;
        letter-spacing: 0.05em;
    }
}
@media(max-width: 320px) {
    .quality_h2,
    .values_h2{
        line-height: 1.25;
    }
    .container {
        padding: 80px 0;
    }
    .small_icon1 {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    .header_emailbox {
        flex-direction: column;
        height: auto;
    }
    .header_email--input {
        position: static;
        padding: 16px 0;
        padding-left: 32px;
        line-height: 1.5;
    }
    .button-test{
        width: 100%;
        padding: 16px 0;
        margin: 16px 0;
        line-height: 1.5;
    }
    .header_subtitle_p {
        font-size: 14px;
        letter-spacing: 0.05em;
    }
    .features_h2,
    .quality_h2,
    .steps_h2,
    .values_h2,
    .pricing_h2,
    .testimonials_h2 {
        font-size: 30px;
    }
    .features_h2,
    .pricing_h2 {
        font-size: 30px;
        text-align: center;
    }
    .features_row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .features_title {
        letter-spacing: 0.025em;
        line-height: 1;
    }
    .features_text {
        margin-left: 0px;
        margin-top: 16px;
    }
    .features_para {
        margin-top: 4px;
        line-height: 2;
    }
    .features_showcase {
        flex-direction: column;
        align-items: center;
    }
    .features_showcase_explaination {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features_img_para {
        text-align: center;
    }
    .steps_h2 {
        margin: 16px 0 0 0;
    }
    .steps_h2sub {
        margin-right: 0;
    }
    .button-test {
        line-height: 1.5;
    }
    .plan_price {
        font-size: 36px;
    }
    .plan_bottom {
        padding: 32px 48px;
    }
    .testimonials_para {
        margin-bottom: 32px;
    }
    .testimonials_bottom_mask {
        flex-direction: column;
        align-items: center;
        padding-top: 4px;
    }
    .testimonials_mask {
        height: 64px;
        width: 64px;
    }
    .testimonials_buttons {
        margin-top: 32px;
    }
    .testimonials_button {
        margin-top: 32px   
    }
    .purple {
        padding: 80px 0;
        border-radius: 0%;
    }
    .white {
        font-size: 24px;
    }
    .getting_started_buttons {
        flex-direction: column;
        margin-top: 20px;
    }
    .getting_started_right,
    .getting_started_left {
        padding: 12px 24px;
        font-size: 14px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 5px;
    }
    main {
        margin-bottom: 80px;
    }
    .footer_contact {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer_contact_row1,
    .footer_contact_row2,
    .footer_contact_row3,
    .footer_contact_row4,
    .footer_contact_row5 {
        width: auto;
        padding: 0 16px;
        text-align: center;
        align-items: center;
    }
    .footer_copyright_para {
        font-size: 14px;
        text-align: center;
        line-height: 1.5;
    }
    .footer_img {
        width: 32px;
        height: 32px;
    }
    .footer_img_para {
        font-size: 20px;
        margin-left: 8px;
        letter-spacing: 0.05em;
    }
}